html {
    height: 100%;
    /*font-family: Verdana !important;*/
    font-family: "Tauri",sans-serif !important;
}

body {
    height: 100%;
}

#content {
    height: 100%;
}

.table {
    height: 100%;
    margin-bottom: 0 !important;
    border: none;
}

.table td{
    border: none;
}


.tr-header {
    height: 16%;
}

.td1 {
    width: 50%;
}

.rer-logo {
    height: 120px;
    float: left;
    margin-top: -15px;
    margin-left: -15px;
}

.rer-ligne {
    height: 50px;
    float: left;
    margin-top: 45px;
    margin-left: -15px;
}

.tr-header .td1 p {
    color: #000099;
    font-weight: bold;
    font-size: 42px;
    line-height: 30px;
    padding-left: 160px;
    margin-top: 20px;
}

.td2-header {
    vertical-align: middle !important;
    background-color: #555b69;
    font-size: 50px;
    color: white !important;
    font-weight: bold;
    text-align: right !important;
}

.td2-header p {
    margin-top: 10px;
    margin-right: 40px;
}

.bg-tr {
    background-color: #d6dcd8;
}

.tr-normal {
    height: 13%;
    max-height: 13%;
}

.tr-normal td, .tr-trafic .tdfull {
    vertical-align: middle !important
}

.tr-normal .td1 p, .tr-normal .td2 p {
    color: black;

    font-size: 24pt;
    margin: 0px;
}

.tr-normal .td2 {
    width: 10%;
}

.tr-normal .td3 {
    text-align: right;
}

.tr-normal .td3 p {
    color: black;
    font-size: 24pt;
    margin: 0 40px 0 0;
}

.tr-trafic {
    height: 5%;
    background-color: #FACC2E;
}

.tr-trafic .tdfull p {
    color: black;
    font-family: Calibri;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}


/* latin-ext */
@font-face {
    font-family: 'Tauri';
    font-style: normal;
    font-weight: 400;
    src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.gstatic.com/s/tauri/v4/NN-VSW_h-jkrKyYGwwj5QQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Tauri';
    font-style: normal;
    font-weight: 400;
    src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.gstatic.com/s/tauri/v4/sWn97sjs9uU0xeuHDScCTA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
